<%= link_to stores_path, style: "text-decoration: none" do %>
  <%= image_tag("back.png", width: "45", height: "45", class:"rounded-circle mt-3") %>
<% end %>

<h2>Delivery Address</h2>
<input class="adress" type="text" name="myAddress" placeholder="My address">

<div class="line"></div>

<% @order.article_orders.each do |article_order| %>
  <p>Total price of articles: <%= article_order.total %> CHF</p>
<% end %>

<% @stores.each do |store| %>
  <p>Delivery fee: <%= store.delivery_fees %> CHF</p>
<% end %>

<% total_delivery_fees = @stores.sum(&:delivery_fees) %>
<% total_order_total = @order.article_orders.sum(&:total) %>

<h4>Total Fee: <%= total_delivery_fees + total_order_total %> CHF</h4>

<div class="line"></div>

<h2>Payment</h2>
<div class="cards">
  <p>VISA: **** **** **** 2424</p>
<ul class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
    <%= image_tag("add.png", alt: "Add", class: "dropdown-icon") %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <input class="Name" type="text" name="Name" placeholder="First name">
    <input class="last-name" type="text" name="last-name" placeholder="Last Name">
    <input class="expiration-date" type="text" name="expiration-date" placeholder="Expiration date">
    <input class="credit-card-number" type="text" name="credit-card-number" placeholder="Credit card number">
    <input class="CVV" type="text" name="CVV" placeholder="CVV">
  </div>
</ul>
</div>

<button type="submit" class="btn btn_magic fs-3 d-flex justify-content-center text-white">Validate</button>
