<% @order.article_orders.each do |article_order| %>
    <% article = article_order.article %>
    <div id= ""> <%= "cart-#{article.id}" %>
        <div class="d-flex justify-content-between align-items-start mb-4">
            <div>
            <h3 class="fs-4 title text-dark"><%= article.title %></h3>
            <div class="main pb-2"><%= sprintf('%.2f', article.price.to_f) %> CHF</div>
            <span class="text-secondary"><%= article.description.truncate(24)%></span>
            </div>
            <div >
            <%= image_tag(article.image_url, width: "120", height: "120" ) %>
            </div>

            <%= form_with(url: orders_add_path) do |f|%>
                <%= f.hidden_field :id, value: article.id %>
                <%= f.number_field :quantity, value: article_order.quantity, min: 0 %>
                <%= f.submit "Add to cart", class: "btn_magic fs-3 d-flex justify-content-center " %>
            <% end %>

            <%= form_with(url: orders_remove_path) do |f|%>
                <%= f.hidden_field :id, value: article_order.id %>
                <%= f.submit "X" %>
            <% end %>
            <strong>Total : </strong>
                <%= article_order.total %>
        </div>
    </div>

<% end %>