<div class="container">
  <div class="d-flex">
    <%=link_to "Home", stores_path, class:"text-primary p-1 text-decoration-none" %>
    <p class="p-1">></p>
    <p class="text-primary p-1">
      <%= link_to store_path(@article.store), style: "text-decoration: none" do %>
        <%= @article.store.title %>
        <% end %>
    </p>
    <p class="p-1">></p>
    <p class="text-primary p-1"><%= @article.title %></p>
  </div>
  <div class="image_p" style="background-image: url(<%= image_path(@article.image_url) %>)">
    <div class="d-flex justify-content-between">
      <div>
        <%= link_to store_path(@article.store), style: "text-decoration: none" do %>
            <%= image_tag("back.png", width: "45", height: "45", class:"rounded-circle mt-1") %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="titles_category_article">
    <h1 class="title_article fw-bolder"><%= @article.title %></h1>
    <h4 class="category_article fw-bolder"><%= @article.category %></h4>
  </div>

  <div class="price_article"><strong>Price:</strong>
    <%= sprintf('%.2f', @article.price.to_f) %> CHF
  </div>

  <div class="description_article">
    <strong><h4>Description:</h4></strong>
    <p><%= @article.description %></p>
  </div>

    <%= form_with(url: orders_add_path) do |f|%>
        <%= f.hidden_field :id, value: @article.id %>
        <div class="buttons_articles"></div>
        <%= f.submit "Add to cart", id: "add-to-cart-btn", class: "btn_magic fs-3 d-flex justify-content-center text-white" %>
        <div class="m-2">
          <%= f.select :quantity, 1..5, {}, class: "select-button"%>
        </div>
      <!-- La jauge de poid -->
      <div class="d-flex justify-content-center">
        <%= render "shared/jauge" %>
      </div>


        <% end %>



  </div>

        <% if @order.nil? %>
        <%= "Your cart is empty" %>
        <% else %>
        <%= link_to "Go to cart", order_path(@order) %>
        <% end %>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#add-to-cart-btn').click(function(e) {
      e.preventDefault(); // Prevent the default form submission

      // Show the popup message
      alert('Item added to cart');

      // Submit the form
      $(this).closest('form').submit();
    });
  });
</script>
