<div class="container">
  <div class="d-flex">
    <%=link_to "Home", stores_path, class:"text-primary p-1 text-decoration-none" %>
    <p class="p-1">></p>
    <p class="text-primary p-1">
      <%= link_to store_path(@article.store), style: "text-decoration: none" do %>
        <%= @article.store.title %>
        <% end %>
    </p>
    <p class="p-1">></p>
    <p class="text-primary p-1"><%= @article.title %></p>
  </div>
  <div class="image_p" style="background-image: url(<%= image_path(@article.image_url) %>)">
    <div class="d-flex justify-content-between">
      <div>
        <%= link_to store_path(@article.store), style: "text-decoration: none" do %>
            <%= image_tag("back.png", width: "45", height: "45", class:"rounded-circle mt-1") %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h1 class="mt-5 fw-bolder"><%= @article.title %></h1>
  </div>

  <div>
    <h4 class="mt-4 mb-3 fw-bolder"><%= @article.category %></h4>
  </div>

  <div class="main mb-3 fw-bolder">
    <%= sprintf('%.2f', @article.price.to_f) %> CHF
  </div>

  <div>
    <strong><h4>Description:</h4></strong>
    <p><%= @article.description %></p>
  </div>

    <%= form_with(url: orders_add_path) do |f|%>
        <%= f.hidden_field :id, value: @article.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add to cart", class: "btn_magic fs-3 d-flex justify-content-center text-white" %>
        <% end %>

    </div>
</div>

        <%= link_to "Go to cart", order_path(@order) %>
</div>
