<h1>HELLO</h1>

<% @stores.each do |store| %>
  <% if store.image_url.present? %>
    <%= image_tag(store.image_url, height: '200') %>
  <% else %>
    <p>No image available</p>
  <% end %>
  <p class="input-title" name="title" readonly><%= store.title %></p>
  <p class="input-fees" name="fees" readonly><%= store.delivery_fees %></p>
  <p class="input-estimated_delivery_time" name="estimated_delivery_time" readonly><%= store.estimated_delivery_time %></p>
  <p class="input-rating" name="rating" readonly><%= store.rating %></p>
<% end %>
