<!-- Store -->

<div class="container">
  <div class="row">
    <div class="d-flex" id="store">
      <%=link_to "Home", stores_path, class:"text-primary p-1 text-decoration-none" %>
      <p class="p-1">></p>
      <p class="text-primary p-1"><%= @store.title %></p>
    </div>

    <!-- image + bouton back et search -->
    <div class="image_p" style="background-image: url(<%= image_path(@store.image_url) %>)">
      <div class="d-flex justify-content-between">
        <div>
          <%= link_to stores_path, style: "text-decoration: none" do %>
            <%= image_tag("back.png", width: "45", height: "45", class:"rounded-circle mt-3") %>
          <% end %>
        </div>
        

        <!-- image de la loupe non active -->
        <%# <div>
          <%= image_tag("loupe.png", width: "45", height: "45", class:"rounded-circle mt-3") %>
        <%# </div> %> 
      </div>
    </div>

    <div>
      <h1 class="my-3 fw-bolder fs-1">
        <%= @store.title %>
      </h1>
      <span class="d-flex">
        <div class="fs-5">
          <%= image_tag("etoile.jpg", width: "16", height: "16") %>
          <%= sprintf('%.2f',@store.rating) %> (95 notes)
        </div>
      </span>

      <span>
        Open till 11:00 PM
      </span>

      <div class="mt-2">
        Free delivery starting from 15 CHF
      </div>

      <div class="d-flex justify-content-between">
        <div>
          <%= image_tag("drone1.jpg", width: "28", height: "28", class:"rounded-circle") %>
          <span>Delivery in <%= @store.estimated_delivery_time%></span>
        </div>
      </div>
    </div>
  </div>


<!-- systeme de breakpoint -->

  <% categorys = Article.distinct.pluck(:category) %>

  <% categorys_underscore = categorys.map do |element| %>
    <% element.gsub(" ","_") %>
  <% end %>

  <div class="mt-5 py-1">
    <div class= "d-flex scroll text-nowrap">

      <a href="#store" class="category p-3 border text-dark text-decoration-none border">
        All
      </a>

      <a href="#<%=categorys_underscore[0]%>" class="category p-3 border text-dark text-decoration-none border">
        <%=categorys[0]%>
      </a>

      <a href="#<%=categorys_underscore[1]%>" class="category p-3 border text-dark text-decoration-none border">
        <%=categorys[1]%>
        </a>

      <a href="#<%=categorys_underscore[2]%>" class="category p-3 border text-dark text-decoration-none border">
        <%=categorys[2]%>
      </a>

      <a href="#<%=categorys_underscore[3]%>" class="category p-3 border text-dark text-decoration-none border">
        <%=categorys[3]%>
      </a>

      <a href="#<%=categorys_underscore[4]%>" class="category p-3 border text-dark text-decoration-none border">
        <%=categorys[4]%>
      </a>
    </div>
  </div>


  <!-- (faire l'itération pour la 1er catégorie Cooling) -->
  <h4 class="mb-4 mt-4 fs-1 title_category" id="<%=categorys[0]%> category"><strong> <%=categorys[0]%> </strong></h4>

  <% @articles.each do |article| %>
    <%= link_to article_path(article), style: "text-decoration: none" do %>
      <% if article.category == categorys[0]%>
        <div class="d-flex justify-content-between align-items-start mb-4">
        <div>
          <h3 class="fs-4 title text-dark"><%= article.title %></h3>
          <div class="main pb-2"><%= sprintf('%.2f', article.price.to_f) %> CHF</div>
          <span class="text-secondary"><%= article.description.truncate(24)%></span>
        </div>
        <div >
          <%= image_tag(article.image_url, width: "120", height: "120" ) %>
        </div>
      </div>
      <% else %>
      <% end %>
    <% end %>
  <%end%>

  <!-- (faire l'itération pour la 2eme catégorie skin & hair) -->
  <h4 class="mb-4 mt-4 fs-1 title_category" id="<%=categorys_underscore[1]%>"><strong> <%=categorys[1]%> </strong></h4>

  <% @articles.each do |article| %>
    <%= link_to article_path(article), style: "text-decoration: none" do %>
      <% if article.category == categorys[1]%>
        <div class="d-flex justify-content-between align-items-start mb-4">
        <div>
          <h3 class="fs-4 title text-dark"><%= article.title %></h3>
          <div class="main pb-2"><%= sprintf('%.2f', article.price.to_f) %> CHF</div>
          <span class="text-secondary"><%= article.description.truncate(24)%></span>
        </div>
        <div >
          <%= image_tag(article.image_url, width: "120", height: "120" ) %>
        </div>
      </div>
      <% else %>
      <% end %>
    <% end %>
  <%end%>

  <!-- (faire l'itération pour la 3eme catégorie) -->
  <h4 class="mb-4 mt-4 fs-1 title_category" id="<%=categorys_underscore[2]%>"><strong> <%=categorys[2]%> </strong></h4>

    <% @articles.each do |article| %>
    <%= link_to article_path(article), style: "text-decoration: none" do %>
      <% if article.category == categorys[2]%>
        <div class="d-flex justify-content-between align-items-start mb-4">
        <div>
          <h3 class="fs-4 title text-dark"><%= article.title %></h3>
          <div class="main pb-2"><%= sprintf('%.2f', article.price.to_f) %> CHF</div>
          <span class="text-secondary"><%= article.description.truncate(24)%></span>
        </div>
        <div >
          <%= image_tag(article.image_url, width: "120", height: "120" ) %>
        </div>
      </div>
      <% else %>
      <% end %>
    <% end %>
  <%end%>

  <!-- (faire l'itération pour la 4eme catégorie) -->
  <h4 class="mb-4 mt-4 fs-1 title_category" id="<%=categorys_underscore[3]%>"><strong> <%=categorys[3]%> </strong></h4>

    <% @articles.each do |article| %>
    <%= link_to article_path(article), style: "text-decoration: none" do %>
      <% if article.category == categorys[3]%>
        <div class="d-flex justify-content-between align-items-start mb-4">
        <div>
          <h3 class="fs-4 title text-dark"><%= article.title %></h3>
          <div class="main pb-2"><%= sprintf('%.2f', article.price.to_f) %> CHF</div>
          <span class="text-secondary"><%= article.description.truncate(24)%></span>
        </div>
        <div >
          <%= image_tag(article.image_url, width: "120", height: "120" ) %>
        </div>
      </div>
      <% else %>
      <% end %>
    <% end %>
  <%end%>

  <!-- (faire l'itération pour la 5eme catégorie) -->
  <h4 class="mb-4 mt-4 fs-1 title_category" id="<%=categorys_underscore[4]%>"><strong> <%=categorys[4]%> </strong></h4>

    <% @articles.each do |article| %>
    <%= link_to article_path(article), style: "text-decoration: none" do %>
      <% if article.category == categorys[4]%>
        <div class="d-flex justify-content-between align-items-start mb-4">
        <div>
          <h3 class="fs-4 title text-dark"><%= article.title %></h3>
          <div class="main pb-2"><%= sprintf('%.2f', article.price.to_f) %> CHF</div>
          <span class="text-secondary"><%= article.description.truncate(24)%></span>
        </div>
        <div >
          <%= image_tag(article.image_url, width: "120", height: "120" ) %>
        </div>
      </div>
      <% else %>
      <% end %>
    <% end %>
  <%end%>
</div>
