<div class="button_retour">
    <%=link_to "Back", stores_path, class: "back" %>
</div>

<h1> <%= @store.title %> </h1>

<div class="container">

    <div class="image1">
    <%=image_tag(@store.image_url, height: '300')%>
    </div>

    <div class="title">

    <h2> 
        <%= @store.title %>
    </h2>

    <p> 
        <%= @store.rating %> 
    </p>

    <p class="input-description" name="description" 
        readonly>
        <%= @store.description %>
    </p>
    </div>
    <div class="delivery">
        <p>
            Delivery in <%= @store.estimated_delivery_time%>
        </p>
        <button class="btn btn-primary"> Modifier </button>
    </div>
    <!-- Category Pain  -->

    <div>
        <% @articles.each do |article| %>
        
        <%= article.title %>
        
        <% end %>
    </div>
</div>