<div class="image_p" style="background-image: url('Mettre image article')">
    <div class="d-flex justify-content-between">
        <div class="border border-white rounded-circle fs-6">
          <%=link_to "Back", stores_path %>
        </div>
    </div>
</div>

<h1>Orders list </h1>

<div class="card">
  <% @orders.each do |order| %>
      <div class="container">
        <%= image_tag(article.image_url, class: "image") %>

        <div class="title_circle">
          <h3 class="title"><%= article.title %></h3>
          </div>
          <div class="text">
            <p class="input-fees" name="fees" readonly>Delivery fees: <%= store.delivery_fees %> CHF</p>
            <p class="input-estimated_delivery_time" name="estimated_delivery_time" readonly>~<%= store.estimated_delivery_time %></p>
          </div>
      </div>
  <% end %>
</div>